<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">quipLeague</h1>
    <p class="lead">a project site to track our friendgroup's virtual games of quiplash during the Covid-19-2020-global-fucking-pandemic.</p>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Aliases</th>
        <th scope="col">Total Points</th>
      </tr>
    </thead>
    <tbody>
    <% leaderboard.forEach(function(player, index){%>
        <tr>
        <th scope="row"><%= index+1%></th>
        <td><a href="player/:<%=player._id%>"><%=player._id%></a></td>
        <% const aliasString = player.aliases; %>
        <td><%=aliasString.join(", ")  %></td>  <!--Set width limit for when aliases get too large-->
        <td><%=player.totalScore %></td>
        </tr>
        <%}) %>
    </tbody>
  </table>
</div>

<%- include('partials/footer') %>
