<%- include('partials/header') %>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Aliases</th>
        <th scope="col">Total Points</th>
      </tr>
    </thead>
    <tbody>
    <% leaderboard.forEach(function(player, index){%>
        <tr>
        <th scope="row"><%= index+1%></th>
        <td><a href="player/:<%=player._id%>"><%=player._id%></a></td>
        <td><%=player.aliases %></td>  <!--Set width limit for when aliases get too large-->
        <td><%=player.totalScore %></td>
        </tr>
        <%}) %>
    </tbody>
  </table>
</div>

<%- include('partials/footer') %>
