<%- include('partials/header') %>

  <div class="container">
      <h1><%=playerName%></h1>

      <h3>Known Aliases: <%=thisPlayer.playerAliases %></h3>
      <br>
      <h5>Match History</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">GameType</th>
            <th scope="col">Score</th>
            <th scope="col">Position</th>
          </tr>
        </thead>
        <tbody>
        <% thisPlayer.sessionScores.forEach(function(match){%>
            <tr>
            <th scope="row"><a href="/match/<%= match.sessionId%>"><%= match.sessionId%></a></th>
            <td><%=match.gameType%></td>
            <td><%=match.score %></td>  <!--Set width limit for when aliases get too large-->
            <td><%=match.position%></td>
            </tr>
            <%}) %>
        </tbody>
      </table>


  </div>

  <div class="container fixed-bottom" id="submit-area">
    <form class="form-inline" action="/:playerName" method="post">
      <input type="hidden" id="playerId" name="playerId" value="<%=thisPlayer._id%>">
      <div class="form-row">
        <div class="col-md-3 mb-3 form-group" id="entry-item">
          <label for="match" class=".col-form-label-sm">Match #: </label>
          <input class="form-control-sm" type="number" name="matchID" value="matchID">
        </div>
        <div class="col-md-3 mb-3 form-group" id="entry-item">
          <label for="gameType" class=".col-form-label-sm">Game Type: </label>
          <select name="gameType" class="form-control form-control-sm">
          <option value="Quiplash">Quiplash</option>
          </select>
        </div>

        <div class="col-md-3 mb-3 form-group" id="entry-item">
          <label for="score" class=".col-form-label-sm">Score: </label>
          <input class="form-control-sm" type="number" name="score" value="score">
        </div>
        <div class="col-md-3 mb-4 form-group" id="entry-item">
          <button class="btn btn-primary btn-sm" type="submit">Enter Match</button>
        </div>
      </div>
    </form>
  </div>


<%- include('partials/footer') %>
